body {
    font-family: 'Futura W01 Medium';
    font-size: 14px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

input[type=text] {
    font-size: 2.827em;
    padding: 0.5em;
    border: none;
    border: solid 1px black;
    border-radius: 0.5em;
}

input.film-name {
    display: block;
    width: 702px;
    margin-left: 142px;
    margin-top: 20vh;
}

.tcon-loader--spinner360 {
    border-radius: 80%;
    display: block;
    margin: 1em auto;
    height: 40px;
    width: 40px;
    position: relative;
    -webkit-animation: tcon-spin360 0.675s linear infinite forwards;
    animation: tcon-spin360 0.675s linear infinite forwards;
    background: lightgray;
}
.tcon-loader--spinner360:before, .tcon-loader--spinner360:after {
    content: "";
    display: block;
    position: absolute;
}
.tcon-loader--spinner360:before {
    border-radius: 0 90px 90px 0;
    height: 40px;
    width: 50%;
    top: 0;
    right: 0;
    z-index: 1;
    background: black;
    background-image: linear-gradient(lightgray, black);
}
.tcon-loader--spinner360:after {
    border-radius: 80%;
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    background: white;
}
@-webkit-keyframes tcon-spin360 {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes tcon-spin360 {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.tcon-loader--spinner360:not(.loading) {
    display: none;
}

.small-film-card {
    padding: 1em;
    border: solid 1px black;
    border-radius: 1em;
    width: 670px;
    margin-top: 1em;
    margin-left: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-film-card:hover {
    background-color: #00edff;  
}
.small-film-card:active {
    background-color: #00bdcc;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 3.998em;
}
h2 {
    font-size: 2.827em;
}
h3 {
    font-size: 1.999em;
}
h4 {
    font-size: 1.414em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.707em;
}
