.small-film-card {
    padding: 1em;
    border: solid 1px black;
    border-radius: 1em;
    width: 670px;
    margin-top: 1em;
    margin-left: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-film-card:hover {
    background-color: #00edff;  
}
.small-film-card:active {
    background-color: #00bdcc;
}
